---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects.astro";
import Features from "../components/Features.astro";
import Sectors from "../components/Sectors.astro";
import Services from "../components/Services.astro";
import Posts from "../components/Posts.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Testimonials from "../components/Testimonials.astro";
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link href="https://fonts.cdnfonts.com/css/brigfted" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/frenstyle" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/recoleta" rel="stylesheet" />
    <link
      href="https://db.onlinewebfonts.com/c/81db551dd19e720ed0bc40dbde312130?family=Beausite+Classic+Regular"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body class="overflow-x-hidden">
    <Navigation />
    <Hero />
    <Intro />
    <Projects />
    <Testimonials />
    <Features />
    <Sectors />

    <Services />

    <Posts />
    <ContactForm />

    <Footer />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"
    ></script>
  </body>
</html>
