---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import HeaderNew from "../components/HeaderNew.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import HeroService from "../components/HeroService.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
 
import Sectors from "../components/Sectors.astro";
import Projects from "../components/Projects.astro";
import BlogPosts from "../components/BlogPosts.astro";
import Cta from "../components/Cta.astro";
import Personal from "../components/Personal.astro";
import OurBenefits from "../components/OurBenefits.astro";
import HeroNew from "../components/HeroNew.astro";
---

<!doctype html>
<html lang='fr'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link href='https://fonts.cdnfonts.com/css/brigfted' rel='stylesheet' />
    <link href='https://fonts.cdnfonts.com/css/frenstyle' rel='stylesheet' />
    <link href='https://fonts.cdnfonts.com/css/recoleta' rel='stylesheet' />
    <link
      href='https://db.onlinewebfonts.com/c/81db551dd19e720ed0bc40dbde312130?family=Beausite+Classic+Regular'
      rel='stylesheet'
    />
  </head>
  <body>
    <!-- <Header title={SITE_TITLE} /> -->
    <HeaderNew title={SITE_TITLE} />
    <!-- <Hero /> -->
    <HeroNew/>
        <Personal />
    <Projects />
        <HeroService />
    <Sectors />
 <OurBenefits/>

    <BlogPosts />
    <Cta />
    <Footer /> 
</div>
  </body>
</html>

  <script>
    import Alpine from "alpinejs";
    import intersect from "@alpinejs/intersect";
    Alpine.plugin(intersect)
    window.Alpine = Alpine;

    Alpine.start();
  </script>