



<section class='max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 mt-24'>
  <div class='mb-5 flex justify-between text-sm'>
    <h1
      class='max-w-4xl mb-4 text-2xl font-semibold tracking-tight leading-none md:text-5xl xl:text-5xl'
    >
      Découvrez nos meilleures <span
        class='text-6xl'
        style='    font-family: atkins;
    font-style: italic;
    font-weight: 500;'
        >astuces techniques</span
      > et les tendances du digital.
    </h1>
    <a class='place-self-center' href='#'>See All</a>
  </div>

  <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10'>
    <!-- CARD 1 -->
    <div
      class='rounded-xl overflow-hidden border-2 border-gray-200 hover:border-gray-400 hover:transition-colors flex flex-col p-8 mb-auto'
    >
      <a href='#'>
        <div class='relative'>
          <img
            class='w-full max-h-[220px] object-contain'
            src='https://images.blush.design/74760cde0d8fffeb1f396ad8fe1ad6ac?w=500&auto=compress&cs=srgb'
            alt='Sunset in the mountains'
          />
        </div>
        <div class='mt-10'>
          <span
            class='bg-yellow-200 text-yellow-800 text-sm font-bold mr-2 px-4 py-1 rounded-full uppercase mb'
            >Marketing</span
          ><br />
          <div
            class='font-bold text-2xl inline-block text-black transition duration-500 ease-in-out mb-2 mt-4'
            style='text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;'
          >
            The Worst Advice We've Ever Heard About Web Design
          </div>
        </div>
      </a>
    </div>

    
  </div>
</section>
