---
import { Icon } from "astro-icon";
---

<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-16 md:mb-0">
        <a href="https://flowbite.com/" class="flex items-center">
          <img
            src="https://flowbite.com/docs/images/logo.svg"
            class="h-16 mr-3"
            alt="FlowBite Logo"
          />
          <span
            class="self-center
            text-4xl font-semibold whitespace-nowrap dark:text-white text-gray-400"
            >Flowbite</span
          >
        </a>
      </div>

      <div class="grid grid-cols-1 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2
            class="mb-4 text-sm font-semibold text-gray-500 uppercase dark:text-white"
          >
            Drop us a line
          </h2>
          <ul
            class="text-gray-900 dark:text-gray-400 font-bold text-xl md:text-xl"
          >
            <li class="mb-4">
              <a href="https://flowbite.com/" class="hover:underline"
                >arlibera@contact.ma</a
              >
            </li>
          </ul>

          <div>
            <h2
              class="mb-4 pt-2 text-sm font-semibold text-gray-500 uppercase dark:text-white"
            >
              Call us
            </h2>
            <ul class="text-gray-900 dark:text-gray-400 font-bold text-xl">
              <li class="mb-4">
                <a href="https://flowbite.com/" class="hover:underline"
                  >+212 623-362</a
                >
              </li>
            </ul>

            <div>
              <h2
                class="mb-4 pt-2 text-sm font-semibold text-gray-500 uppercase dark:text-white"
              >
                General
              </h2>
              <ul class="text-gray-900 dark:text-gray-400 font-bold text-xl">
                <li class="mb-4">
                  <a href="https://flowbite.com/" class="hover:underline"
                    >Agence</a
                  >
                </li>
                <li class="mb-4">
                  <a href="https://tailwindcss.com/" class="hover:underline"
                    >Projects</a
                  >
                </li>
                <li class="mb-4">
                  <a href="https://flowbite.com/" class="hover:underline"
                    >Ressources</a
                  >
                </li>
                <li class="mb-4">
                  <a href="https://tailwindcss.com/" class="hover:underline"
                    >Contacts</a
                  >
                </li>
              </ul>
            </div>

            <div>
              <h2
                class="mb-4 pt-2 text-sm font-semibold text-gray-500 uppercase dark:text-white"
              >
                Services
              </h2>
              <ul class="text-gray-900 dark:text-gray-400 font-bold text-xl">
                <li class="mb-4">
                  <a href="https://flowbite.com/" class="hover:underline"
                    >Design</a
                  >
                </li>
                <li class="mb-4">
                  <a href="https://tailwindcss.com/" class="hover:underline"
                    >Developpement</a
                  >
                </li>
                <li class="mb-4">
                  <a href="https://tailwindcss.com/" class="hover:underline"
                    >Marketing</a
                  >
                </li>
              </ul>
            </div>

            <div class="collapse collapse-plus p-0">
              <input type="checkbox" />
              <div class="collapse-title text-lg font-bold text-gray-500 px-0">
                Tous les services
              </div>
              <div class="collapse-content p-0">
                <div>
                  <h2
                    class="mb-4 text-sm font-bold text-gray-900 uppercase dark:text-white pt-7 pb-4"
                  >
                    General
                  </h2>
                  <ul class="text-gray-500 font-bold text-xl">
                    <li class="mb-4">
                      <a href="https://flowbite.com/" class="hover:underline"
                        >Agence</a
                      >
                    </li>
                    <li class="mb-4">
                      <a href="https://tailwindcss.com/" class="hover:underline"
                        >Projects</a
                      >
                    </li>
                    <li class="mb-4">
                      <a href="https://flowbite.com/" class="hover:underline"
                        >Ressources</a
                      >
                    </li>
                    <li class="mb-4">
                      <a href="https://tailwindcss.com/" class="hover:underline"
                        >Contacts</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <hr
              class="border-gray-500 mb-4 sm:mx-auto dark:border-gray-700 lg:my-8"
            />
            <div>
              <ul
                class="text-gray-900 dark:text-gray-400 font-medium flex justify-between text-xs"
              >
                <li class="">
                  <a href="#" class="hover:underline">Privacy Policy</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr
          class="my-6 border-gray-500 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <div class="flex space-x-5 sm:justify-center sm:mt-0">
          <a
            href="#"
            class="text-gray-900 hover:text-gray-900 rounded-full border-2 border-gray-900 p-3"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 8 19"
            >
              <path
                fill-rule="evenodd"
                d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Facebook page</span>
          </a>

          <a
            href="#"
            class="text-gray-900 hover:text-gray-900 rounded-full border-2 border-gray-900 p-3"
          >
            <Icon name="brandico:linkedin" class="w-5 h-5" />
            <span class="sr-only">Discord community</span>
          </a>

          <a
            href="#"
            class="text-gray-900 hover:text-gray-900 rounded-full border-2 border-gray-900 p-3"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 17"
            >
              <path
                fill-rule="evenodd"
                d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Twitter page</span>
          </a>
        </div>
        <hr
          class="my-6 border-gray-500 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <div class="sm:flex sm:items-center sm:justify-between text-center">
          <span class="text-sm text-gray-900 sm:text-center dark:text-gray-400"
            >© <a href="https://flowbite.com/" class="hover:underline"
              >Arlibera</a
            >. Tous droits réservés.
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
