<div
  style='font-size: 22px; padding-left: 96px; padding-right: 96px; background-color: rgb(200, 208, 214)'
>
  <div style='display: flex'>
    <div class="border-b-2 flex gap-32 border-gray-400"
    >
      <div>
        <div style='font-weight: 600; text-transform: uppercase: width:100%'>
          NOS SERVICES
        </div>
      </div>
      <h2 class='text-7xl font-medium tracking-tighter   pb-20  '>
        How do we build your story?
      </h2>
    </div>
    <div class="pl-32"
      style='align-self: end; border-bottom-width: 2px; padding-bottom: 82px; border-color: rgb(0, 0, 0); border-style: solid; max-width:700px'
    >
      <p>
        From cubs that need our help to grow to alphas that wish to re-establish
        their place in the digital world, our line of partners is constantly
        expanding!
      </p>
    </div>
  </div>
  <div style='display: flex'>
    <div style='flex-direction: column; display: flex; gap: 154px'>
      <a
        href='https://www.devolfs.com/services/brand-identity'
        style='align-items: center; border-bottom-width: 2px; cursor: pointer; justify-content: center; opacity: 0.3; padding-bottom: 52px; padding-top: 52px; display: flex; border-color: rgba(0, 0, 0, 0.1); border-style: solid'
        ><div style='align-items: flex-start; display: flex; gap: 40px'>
          <div style='font-size: 28px'>01</div>
          <div style='overflow: hidden'>
            <h3
              style='font-size: 132px; font-weight: 500; padding-bottom: 20px; padding-right: 20px; padding-top: 20px'
            >
              Brand Identity
            </h3>
          </div>
        </div>
        <div
          style='background-color: rgb(222, 254, 82); align-items: center; bottom: 1004px; justify-content: center; left: 1162px; position:   ute; right: 576px; text-transform: uppercase; top: 450px; will-change: width, height; display: flex; width: 9.49979vw; height: 9.49979vw; border-radius: 1920px; padding: 20px'
        >
          <div
            style='align-items: center; bottom: 78px; font-size: 20px; left: 28px; position:   ute; right: 28px; top: 78px; z-index: 3; display: flex'
          >
            <div style='font-size: 18px'>Explore More</div>
          </div>
        </div></a
      > 
      <a
        href='https://www.devolfs.com/services/brand-identity'
        style='align-items: center; border-bottom-width: 2px; cursor: pointer; justify-content: center; opacity: 0.3; padding-bottom: 52px; padding-top: 52px; display: flex; border-color: rgba(0, 0, 0, 0.1); border-style: solid'
        ><div style='align-items: flex-start; display: flex; gap: 40px'>
          <div style='font-size: 28px'>01</div>
          <div style='overflow: hidden'>
            <h3
              style='font-size: 132px; font-weight: 500; padding-bottom: 20px; padding-right: 20px; padding-top: 20px'
            >
              Brand Identity
            </h3>
          </div>
        </div>
        <div
          style='background-color: rgb(222, 254, 82); align-items: center; bottom: 1004px; justify-content: center; left: 1162px; position:   ute; right: 576px; text-transform: uppercase; top: 450px; will-change: width, height; display: flex; width: 9.49979vw; height: 9.49979vw; border-radius: 1920px; padding: 20px'
        >
          <div
            style='align-items: center; bottom: 78px; font-size: 20px; left: 28px; position:   ute; right: 28px; top: 78px; z-index: 3; display: flex'
          >
            <div style='font-size: 18px'>Explore More</div>
          </div>
        </div></a
      > 
    </div>
  </div>
</div>
