<section
  class='h-[68.63rem] relative w-[102.50rem] overflow-hidden items-center justify-between sm:pe-6 lg:pe-8 mx-auto my-32'
>
  <div
    style='column-gap: 4.38rem;'
    class='items-start h-[33.75rem] justify-between mb-36 w-[102.50rem] flex'
  >
    <div
      style='column-gap: 3.13rem;'
      class='flex-col flex-grow h-[33.75rem] w-[51.88rem] flex'
    >
      <img
        src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/646cf23e27078f9c63c2ae38_icon-heart-yellow.svg'
        style='overflow-clip-margin: content-box;'
        class='h-16 max-w-full align-middle w-16 overflow-clip'
      />

      <h2
        class='text-8xl tracking-tighter col-span-3 uppercase font-bold pt-20'
        data-astro-cid-j5qajhjp=''
      >
        équipe <br />sur <br /> mesure
      </h2>

      <div
        style='column-gap: 1.88rem;'
        class='items-center text-[1.63rem] leading-8 h-16 leading-[1.88rem] w-[51.88rem] flex pt-20'
      >
        <h3
          style='letter-spacing: 0.00rem;'
          class='text-[4.38rem] leading-tighter font-bold'
        >
          30+
        </h3>
        <div class='h-16'>
          Graphistes, Développeurs <br />& Marketeurs d'Arlibera
        </div>
      </div>
    </div>
    <div class='h-[33.13rem] justify-end w-[46.25rem]'>
      <div
        style='grid-auto-columns: 1fr;'
        class='flex-wrap grid-cols-[1fr 1fr 1fr] grid-rows-[auto auto] h-[35.63rem] justify-end w-[48.75rem] flex -m-5'
      >
        <div class='h-48 w-48 p-5'>
          <div class='h-36 w-36 rounded-full'>
            <img
              src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/64a836590200796d9bef1b64_team_Elena-Popovichenko.webp'
              style='overflow-clip-margin: content-box;'
              class='h-36 max-w-full align-middle w-36 overflow-clip'
            />
          </div>
        </div>
        <div class='h-48 w-48 p-5'>
          <div class='h-36 w-36 rounded-full'>
            <img
              src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/64a8365eaeba06f43c5de99b_team_Bohdan-Posenko.webp'
              style='overflow-clip-margin: content-box;'
              class='h-36 max-w-full align-middle w-36 overflow-clip'
            />
          </div>
        </div>
        <div class='h-48 w-48 p-5'>
          <div
            class='h-36 w-36 border-2 border-black/[0.8] border-solid rounded-full'
          >
          </div>
        </div>
        <div class='h-48 w-48 p-5'>
          <div class='h-36 w-36 rounded-full'>
            <img
              src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/64a83659f3444ac4ef18fac7_team_Alina-Hridina.webp'
              style='overflow-clip-margin: content-box;'
              class='h-36 max-w-full align-middle w-36 overflow-clip'
            />
          </div>
        </div>
        <div class='h-48 w-48 p-5'>
          <div
            class='h-36 w-36 border-2 border-black/[0.8] border-solid rounded-full'
          >
          </div>
        </div>
        <div class='h-48 w-48 p-5'>
          <div
            class='h-36 w-36 border-2 border-black/[0.8] border-solid rounded-full'
          >
          </div>
        </div>
        <div class='h-48 w-48 p-5'>
          <div class='h-36 w-36 rounded-full'>
            <img
              src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/64a83659b83b9677eedfbbae_team_Andriy-Protsyuk.webp'
              style='overflow-clip-margin: content-box;'
              class='h-36 max-w-full align-middle w-36 overflow-clip'
            />
          </div>
        </div>
        <div class='h-48 w-48 p-5'>
          <div
            class='h-36 w-36 border-2 border-black/[0.8] border-solid rounded-full'
          >
          </div>
        </div>
        <div class='h-48 w-48 p-5'>
          <div
            class='h-36 w-36 border-2 border-black/[0.8] border-solid rounded-full'
          >
          </div>
        </div>
        <div class='h-48 w-48 p-5'>
          <div class='h-36 w-36 rounded-full'>
            <img
              src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/64a83659b83b9677eedfbbae_team_Andriy-Protsyuk.webp'
              style='overflow-clip-margin: content-box;'
              class='h-36 max-w-full align-middle w-36 overflow-clip'
            />
          </div>
        </div>
        <div class='h-48 w-48 p-5'>
          <div class='h-36 w-36 rounded-full'>
            <img
              src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/64a8365a834e664af9ba9a1b_team_Yehor-Velikodnyi.webp'
              style='overflow-clip-margin: content-box;'
              class='h-36 max-w-full align-middle w-36 overflow-clip'
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='items-stretch h-80 justify-between mb-16 mr-1 w-[102.63rem] flex'>
    <div
      style='border-right-style: solid; border-top-style: solid;'
      class='border-r-2 border-t-2 flex-grow h-80 pt-12 w-[32.25rem] border-black'
    >
      <div>
        <div
          class='flex justify-center items-center mb-4 w-32 h-32 rounded-full bg-gray-100'
        >
          <img
            class=''
            src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634b119a4fec9_image%2067.png'
          />
        </div>
        <h2 class='mb-2 text-4xl font-bold py-4'>Transparence Totale</h2>
        <p class='text-gray-500 dark:text-gray-400 w-4/5'>
          Nous favorisons la confiance par une communication ouverte et honnête
          à chaque étape
        </p>
      </div>
    </div>
    <div
      style='border-right-style: solid; border-top-style: solid;'
      class='border-r-2 border-t-2 h-80 pt-12 w-[38.38rem] border-black'
    >
       <div class="ml-24">
        <div
          class='flex justify-center items-center mb-4 w-32 h-32 rounded-full bg-gray-100'
        >
          <img
            class=''
            src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634b119a4fec9_image%2067.png'
          />
        </div>
        <h2 class='mb-2 text-4xl font-bold py-4'>Transparence Totale</h2>
        <p class='text-gray-500 dark:text-gray-400 w-4/5'>
          Nous favorisons la confiance par une communication ouverte et honnête
          à chaque étape
        </p>
      </div>
    </div>
    <div
      style='border-right-style: solid; border-top-style: solid;'
      class='border-r-2 border-t-2 flex-grow h-80 pt-12 w-[32.25rem] border-black'
    >
         <div class="ml-24">
        <div
          class='flex justify-center items-center mb-4 w-32 h-32 rounded-full bg-gray-100'
        >
          <img
            class=''
            src='https://assets.website-files.com/6259e59720a6347d57a4fe10/6259e59720a634b119a4fec9_image%2067.png'
          />
        </div>
        <h2 class='mb-2 text-4xl font-bold py-4'>Transparence Totale</h2>
        <p class='text-gray-500 dark:text-gray-400 w-4/5'>
          Nous favorisons la confiance par une communication ouverte et honnête
          à chaque étape
        </p>
      </div>
    </div>
  </div>
</section>
