<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 text-4xl text-center">
We’re trying something different with mymind. It’s a refreshing approach to
remembering the things you care about. One place for everything. We put privacy
first. We love beautiful, simple design that considers and respects how you
naturally think and work. We’d rather you spend less time managing your life,
and more time doing what makes you happy.</div>


