<div class="grid grid-col-1 md:grid-cols-9 gap-8 bg-gray-200">
  <div class="col-span-1 md:col-span-5">
    <img
      class="rounded-md"
      src="https://framerusercontent.com/images/hmSYyp67T1yTCkw9c0sV1MNCGGA.webp"
    />
  </div>
  <div class="relative self-center col-span-1 md:col-span-4" style="   ">
    <div class="">
      <div>
        <div
          class="text- md:text-sm tracking-wide mb-6 text-gray-500 uppercase font-bold"
        >
          Healthcare
        </div><div>
          <h1 class="md:text-3xl text-2xl font-semibold mb-5 leading-7">
            Zemium — web design for the consulting firm
          </h1>
          <p class="text-gray-500">
            They are able to help a startup like mine scale and are very
            responsive to all our unique needs
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="border-t-2 border-gray-700 justify-between py-10 flex bottom-0 absolute w-full">
      <div>
        <div style="font-size: 34px; font-weight: 500">8k+</div>
        <p style="color: rgba(45, 60, 73, 0.9); font-weight: 300">
          Faster finance<br style="color: rgba(45, 60, 73, 0.9)" />
          transactions
        </p>
      </div>
      <div>
        <div style="font-size: 34px; font-weight: 500">160h</div>
        <p style="color: rgba(45, 60, 73, 0.9); font-weight: 300">Lower expenses <br style="color: rgba(45, 60, 73, 0.9)" />every month</p>
      </div>
      <div>
        <div style="font-size: 34px; font-weight: 500">2m</div>
        <p style="color: rgba(45, 60, 73, 0.9); font-weight: 300">Trusted regular <br style="color: rgba(45, 60, 73, 0.9)" />users network</p>
      </div>
    </div> -->
  </div>
</div>
