<section class=" ">
  <div class='grid px-4 py-8 gap-8 '>
    <div
      style='align-items: center; flex-grow: 1; justify-content: center; position: relative; display: flex; overflow: hidden'
    >
      <img
        class='rounded-md'
        src='https://framerusercontent.com/images/hmSYyp67T1yTCkw9c0sV1MNCGGA.webp'
      />
      <div
        style='align-items: center; bottom: 0px; flex-direction: column; justify-content: center; left: 0px; position: absolute; top: 0px; z-index: 1; display: flex'
      >
      </div>
    </div>
    <div class='relative self-center' style='   '>
      <div class=''>
        <div>
          <div
            class='text-lg tracking-wide mb-6 text-gray-500 uppercase font-bold' 
          >
            Healthcare
          </div><div>  <h1 class='text-3xl font-bold  mb-5   '>
            Zemium — web design for the consulting firm
          </h1>
  <p
            class='text-gray-500' 
          >
            They are able to help a startup like mine scale and are very
            responsive to all our unique needs
          </p></div>
        

        </div>

   
      </div>

      <!-- <div class="border-t-2 border-gray-700 justify-between py-10 flex bottom-0 absolute w-full">
      <div>
        <div style="font-size: 34px; font-weight: 500">8k+</div>
        <p style="color: rgba(45, 60, 73, 0.9); font-weight: 300">
          Faster finance<br style="color: rgba(45, 60, 73, 0.9)" />
          transactions
        </p>
      </div>
      <div>
        <div style="font-size: 34px; font-weight: 500">160h</div>
        <p style="color: rgba(45, 60, 73, 0.9); font-weight: 300">Lower expenses <br style="color: rgba(45, 60, 73, 0.9)" />every month</p>
      </div>
      <div>
        <div style="font-size: 34px; font-weight: 500">2m</div>
        <p style="color: rgba(45, 60, 73, 0.9); font-weight: 300">Trusted regular <br style="color: rgba(45, 60, 73, 0.9)" />users network</p>
      </div>
    </div> -->
    </div>
  </div>
</section>
