---
import ProjectCard from "../components/ProjectCard.astro";
---

<section>
  <p
    class="text-black text-xl md:text-2xl not-italic font-normal tracking-[-0.24px] leading-8 no-underline normal-case text-center py-20"
  >
    Designing a social brand<br />
     for global impact.
  </p>

  <swiper-container
    slides-per-view="1"
    speed="500"
    loop="false"
    css-mode="true"
    class="space-x-6"
  >
    <swiper-slide><ProjectCard /></swiper-slide>
    <swiper-slide><ProjectCard /></swiper-slide>
    <swiper-slide><ProjectCard /></swiper-slide>
    <swiper-slide><ProjectCard /></swiper-slide>
  </swiper-container>
</section>
