<div
  class='  flex flex-col gap-4   items-center justify-center container max-w-7xl mx-auto'
>
  <!-- Card 1 -->
  <a
    class='rounded-  grid grid-cols-12  border-b-2 border-black    p-3 gap-2 items-center     transition delay-150 duration-300 ease-in-out    transform     '
    href='#'
  >
    <!-- Icon -->
    <div class='col-span-12 md:col-span-1'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='h-8 w-8'
        fill='none'
        viewBox='0 0 24 24'
        stroke='#2563eb'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2'
        ></path>
      </svg>
    </div>

    <!-- Title -->
    <div class='col-span-11 xl:-ml-5'>
      <p class='text-4xl font-bold mb-3'>
        Design
      </p>
    </div>

    <!-- Description -->
    <div class='md:col-start-2 col-span-11 xl:-ml-5'>
      <p class='text-xl text-gray-800 font-light mb-5'>
       Design is the art of crafting purposeful aesthetics, blending form and function seamlessly. It transcends mere visuals, encompassing thoughtful solutions that enhance user experiences. It's the bridge between imagination and tangible creation, shaping our world with innovation and creativity. 
      </p>
    </div>
  </a>

 
</div>
