<section class="text-gray-600 body-font">
  <p
    class="text-black text-xl md:text-2xl not-italic font-normal tracking-[-0.24px] leading-8 no-underline normal-case text-center py-20"
  >
    Nous proposons trois services.<br />
    <span class="underline">Design</span> , <span class="underline"
      >Développement</span
    > & <span class="underline">Marketing</span>.
  </p>
</section>
