<section
  class='text-zinc-900 bg-slate-200 p-16 overflow-hidden max-w-[1300px] md:w-full w-10/12 mx-auto'
>
  <div class='w-full mx-auto'>
    <div class='  grid-flow-row-dense grid-cols-5 space-x-12 pb-10'>
      <div class='col-span-3'>
        <h2 class='text-6xl tracking-tighter pb-20' data-astro-cid-j5qajhjp=''>
          Prêt à discuter <br />
           votre projet avec nous ?
        </h2>
        <div class=''>
          <form action='https://shuffle.dev/#' class='flex-wrap flex -m-2'>
            <div class='flex w-full space-x-10'>
              <div class='w-full p-2'>
                <div class='relative z-0'>
                  <input
                    type='text'
                    id='floating_standard'
                    class='block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer'
                    placeholder=' '
                  />
                  <label
                    for='floating_standard'
                    class='absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'
                    >Nom Complet</label
                  >
                </div>
              </div>
              <div class='w-full p-2'>
                <div class='relative z-0'>
                  <input
                    type='email'
                    id='floating_standard'
                    class='block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer'
                    placeholder=' '
                  />
                  <label
                    for='floating_standard'
                    class='absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'
                    >Email</label
                  >
                </div>
              </div>
            </div>

            <div class='w-full p-2'>
              <div class='relative z-0'>
                <textarea
                  rows='4'
                  id='floating_standard'
                  class='block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer'
                  placeholder=' '></textarea>
                <label
                  for='floating_standard'
                  class='absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'
                  >A propos du projet</label
                >
              </div>
            </div>

            <div class='w-full p-2 pt-20 flex'>
              <div>
                <div class='text-gray-600 text-sm'>
                  By sending this form I confirm that <br />I have read and
                  accept the Privacy Policy
                </div>
              </div>

              <div>
                <a
                  href='https://shuffle.dev/#'
                  class='text-white bg-violet-600 cursor-pointer font-semibold py-4 px-5 text-center inline-block mb-4 rounded-lg w-32'
                  >Send Message</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class='col-span-2'>
        <div class='flex-col justify-between flex h-full max-w-lg'>
          <div class='mb-12'>
            <span
              style='background-image: url("https://shuffle.dev/basko-assets/images/gradient.png"); background-size: cover;'
              class='text-white bg-no-repeat text-sm font-semibold py-1.5 px-3 uppercase inline-block max-w-max mb-6 rounded-full'
              >Try some freebie</span
            >
            <h2 class='text-5xl mb-6'>
              They use Basko to create great websites.
            </h2>
            <p class='text-xl'>
              Our visual designer lets you quickly and of drag the and drop your
              way to customapps for both of all desktop, mobile.
            </p>
          </div>
          <div>
            <p class='mb-6'>
              “Our visual designer lets you quickly and of their drag and drop
              your way to custom apps for ton both desktop, mobile &amp; also
              tab will be repeat users on for sure.”
            </p>
            <div class='items-center flex-wrap flex -m-2'>
              <div class='w-auto p-2'>
                <img
                  src='https://shuffle.dev/basko-assets/images/contact/avatar.png'
                  class='align-middle w-12 h-12 overflow-clip'
                />
              </div>
              <div class='flex-grow p-2'>
                <h3 class='font-semibold'>Sam Kent</h3>
                <span class='text-gray-600 text-sm'>@skent</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
