<section class='bg-gray-200 items-center   md:w-full px-32 py-32 '>
<div>
  <div class='mb-10' style='font-weight: 600; text-transform: uppercase'>
    Nos services
  </div><div
    class='grid grid-flow-row-dense grid-cols-4 space-x-12 pb-20'
    data-astro-cid-j5qajhjp=''
  >
    <h2 class='text-7xl tracking-tighter col-span-3 capitalize' data-astro-cid-j5qajhjp=''>
      Une panoplie digitale <br/>sur mesure
    </h2>
  </div>

 
</div>

 <ul
    style='column-gap: 1.25rem;'
    class='flex-col  relative  flex list-none'
  >
    <li class='   list-item '>
      <a
        href='https://www.halo-lab.com/services/design'
        class='items-center cursor-pointer h-44 justify-between max-w-full   flex p-12 border-b-2  border-gray-300 '
        ><div class='flex-grow h-16 w-96'>
          <div class='items-stretch flex-grow h-16 w-96 flex'>
            <img
              src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/640744d0e7b29de6f1a29aee_icon-services-design.svg'
              style='overflow-clip-margin: content-box;'
              class='h-16 max-w-full align-middle w-16 rounded-full overflow-clip'
            /><div
              style='flex-shrink: 0;'
              class='items-center bg-slate-950 text-white text-[1.63rem] leading-8 h-16 justify-center leading-10 px-12 uppercase w-48 flex rounded-full'
            >
              <div class='h-10 relative w-24 overflow-hidden'>
                <div class='h-10 relative w-24'>
                  <div style='flex-shrink: 0;' class='h-10 w-24'>
                    DESIGN
                  </div><div style='flex-shrink: 0;' class='h-10 absolute w-24'>
                    DESIGN
                  </div>
                </div>
              </div>
            </div><img
              src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/640744d0e7b29de6f1a29aee_icon-services-design.svg'
              style='overflow-clip-margin: content-box;'
              class='h-16 max-w-full align-middle rounded-full overflow-clip'
            />
          </div>
        </div><div class='flex-grow h-16'>
          <p class='h-16 opacity-70 w-[34.88rem]'>
            By putting users' needs at the forefront, we tell a unique story of
            your company, juggling with fancy visual elements.
          </p>
        </div><div class='h-16 w-16'>
          <div
            class='items-center h-16 justify-center relative w-16 flex border-2 border-slate-950/[0.3] border-solid rounded-full overflow-hidden'
          >
            <div class='items-center h-8 justify-center relative w-8 flex'>
              <div class='h-8 relative w-8'>
                <svg
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentcolor'
                  xmlns='http://www.w3.org/2000/svg'
                  class='h-8 w-8 inline overflow-hidden'
                  ><path
                    d='M6 18L18 6'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    fill='none'></path><path
                    d='M9 6H18V15'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    fill='none'></path></svg>
              </div><div class='h-8 absolute w-8 z-[2]'>
                <svg
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentcolor'
                  xmlns='http://www.w3.org/2000/svg'
                  class='h-8 w-8 inline overflow-hidden'
                  ><path
                    d='M6 18L18 6'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    fill='none'></path><path
                    d='M9 6H18V15'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    fill='none'></path></svg>
              </div>
            </div><div
              class='bg-slate-950 text-neutral-100 h-16 absolute w-16 rounded-full'
            >
            </div>
          </div>
        </div></a>
    </li> 
    <li class='   list-item '>
      <a
        href='https://www.halo-lab.com/services/design'
        class='items-center cursor-pointer h-44 justify-between max-w-full   flex p-12 border-b-2  border-gray-300 '
        ><div class='flex-grow h-16 w-96'>
          <div class='items-stretch flex-grow h-16 w-96 flex'>
            <img
              src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/640744d0e7b29de6f1a29aee_icon-services-design.svg'
              style='overflow-clip-margin: content-box;'
              class='h-16 max-w-full align-middle w-16 rounded-full overflow-clip'
            /><div
              style='flex-shrink: 0;'
              class='items-center bg-slate-950 text-white text-[1.63rem] leading-8 h-16 justify-center leading-10 px-12 uppercase w-48 flex rounded-full'
            >
              <div class='h-10 relative w-24 overflow-hidden'>
                <div class='h-10 relative w-24'>
                  <div style='flex-shrink: 0;' class='h-10 w-24'>
                    DESIGN
                  </div><div style='flex-shrink: 0;' class='h-10 absolute w-24'>
                    DESIGN
                  </div>
                </div>
              </div>
            </div><img
              src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/640744d0e7b29de6f1a29aee_icon-services-design.svg'
              style='overflow-clip-margin: content-box;'
              class='h-16 max-w-full align-middle rounded-full overflow-clip'
            />
          </div>
        </div><div class='flex-grow h-16'>
          <p class='h-16 opacity-70 w-[34.88rem]'>
            By putting users' needs at the forefront, we tell a unique story of
            your company, juggling with fancy visual elements.
          </p>
        </div><div class='h-16 w-16'>
          <div
            class='items-center h-16 justify-center relative w-16 flex border-2 border-slate-950/[0.3] border-solid rounded-full overflow-hidden'
          >
            <div class='items-center h-8 justify-center relative w-8 flex'>
              <div class='h-8 relative w-8'>
                <svg
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentcolor'
                  xmlns='http://www.w3.org/2000/svg'
                  class='h-8 w-8 inline overflow-hidden'
                  ><path
                    d='M6 18L18 6'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    fill='none'></path><path
                    d='M9 6H18V15'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    fill='none'></path></svg>
              </div><div class='h-8 absolute w-8 z-[2]'>
                <svg
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentcolor'
                  xmlns='http://www.w3.org/2000/svg'
                  class='h-8 w-8 inline overflow-hidden'
                  ><path
                    d='M6 18L18 6'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    fill='none'></path><path
                    d='M9 6H18V15'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    fill='none'></path></svg>
              </div>
            </div><div
              class='bg-slate-950 text-neutral-100 h-16 absolute w-16 rounded-full'
            >
            </div>
          </div>
        </div></a>
    </li> 
    <li class='   list-item '>
      <a
        href='https://www.halo-lab.com/services/design'
        class='items-center cursor-pointer h-44 justify-between max-w-full   flex p-12 border-b-0  border-gray-300 '
        ><div class='flex-grow h-16 w-96'>
          <div class='items-stretch flex-grow h-16 w-96 flex'>
            <img
              src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/640744d0e7b29de6f1a29aee_icon-services-design.svg'
              style='overflow-clip-margin: content-box;'
              class='h-16 max-w-full align-middle w-16 rounded-full overflow-clip'
            /><div
              style='flex-shrink: 0;'
              class='items-center bg-slate-950 text-white text-[1.63rem] leading-8 h-16 justify-center leading-10 px-12 uppercase w-48 flex rounded-full'
            >
              <div class='h-10 relative w-24 overflow-hidden'>
                <div class='h-10 relative w-24'>
                  <div style='flex-shrink: 0;' class='h-10 w-24'>
                    DESIGN
                  </div><div style='flex-shrink: 0;' class='h-10 absolute w-24'>
                    DESIGN
                  </div>
                </div>
              </div>
            </div><img
              src='https://assets-global.website-files.com/63f38a8c92397a024fcb9ae8/640744d0e7b29de6f1a29aee_icon-services-design.svg'
              style='overflow-clip-margin: content-box;'
              class='h-16 max-w-full align-middle rounded-full overflow-clip'
            />
          </div>
        </div><div class='flex-grow h-16'>
          <p class='h-16 opacity-70 w-[34.88rem]'>
            By putting users' needs at the forefront, we tell a unique story of
            your company, juggling with fancy visual elements.
          </p>
        </div><div class='h-16 w-16'>
          <div
            class='items-center h-16 justify-center relative w-16 flex border-2 border-slate-950/[0.3] border-solid rounded-full overflow-hidden'
          >
            <div class='items-center h-8 justify-center relative w-8 flex'>
              <div class='h-8 relative w-8'>
                <svg
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentcolor'
                  xmlns='http://www.w3.org/2000/svg'
                  class='h-8 w-8 inline overflow-hidden'
                  ><path
                    d='M6 18L18 6'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    fill='none'></path><path
                    d='M9 6H18V15'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    fill='none'></path></svg>
              </div><div class='h-8 absolute w-8 z-[2]'>
                <svg
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentcolor'
                  xmlns='http://www.w3.org/2000/svg'
                  class='h-8 w-8 inline overflow-hidden'
                  ><path
                    d='M6 18L18 6'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    fill='none'></path><path
                    d='M9 6H18V15'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    fill='none'></path></svg>
              </div>
            </div><div
              class='bg-slate-950 text-neutral-100 h-16 absolute w-16 rounded-full'
            >
            </div>
          </div>
        </div></a>
    </li> 
  </ul>



</section>
