<section class="my-32">
  <div class="grid grid-flow-row-dense grid-cols-4 mx-24 ">
   <div class="col-span-2">  <div class="mb-6" style='font-weight: 600; text-transform: uppercase'>
        People we help
      </div>
    
     <h2 class='text-7xl font-medium tracking-tighter  pb-20 mr-36'>

Votre présence digitale est plus cruciale que vous le pensez</h2>

    </div>
  <div class="col-span-2 divide-y">    

  <div class="flex text-justify gap-16 pt-12 text-3xl">
        <div class="">
          <p class="" style='mix-blend-mode: exclusion'>
            Arlibera is more than a creative digital agency. We are strategic
            partners to companies that work on improving different areas of life
            but need stronger visual communication to help them achieve it. Our
            skillfully designed websites, applications, and digital brands help
            our partners build new ideas and reshape the old ones. We provide
            digital solutions that push the boundaries of today - and help our
            partners make a better tomorrow.
          </p>
        </div>
   
      </div>

</div>
  
 
 
</div>

</section>


 