<div class='bg-white '>
    
  <div class="flex"
    style='color: rgb(45, 60, 73); justify-content: flex-start; '
  >
    <div
      style='align-items: center; flex-grow: 1; justify-content: center; position: relative; display: flex; overflow: hidden'
    >
      <img
        class='rounded-none'
        src='https://framerusercontent.com/images/hmSYyp67T1yTCkw9c0sV1MNCGGA.webp'
        style='object-fit: cover; vertical-align: middle; width: 748px; height: 490px; overflow: clip'
      />
      <div
        style='align-items: center; bottom: 0px; flex-direction: column; justify-content: center; left: 0px; position: absolute; top: 0px; z-index: 1; display: flex'
      >
      </div>
    </div>
    <div class='mx-20 relative self-center' style='   '>
      <div class=''>
        <div>


            
          <div
            class='text-lg tracking-wide mb-6 text-gray-600'
            style='font-weight: 300; text-transform: uppercase; display: inline-block '
          >
            Healthcare
          </div>
          <h1 class='text-4xl font-bold tracking-tighter mb-12'>
            Zemium — web design for the consulting firm
          </h1>
        </div>

        <div class='border-t-2 border-gray-300 pt-10'>
          <p
            class='text-gray-500'
            style='font-size: 18px; margin-bottom: 1.5rem'
          >
            “They are able to help a startup like mine scale and are very
            responsive to all our unique needs”
          </p>
          <div style='align-items: center; display: flex'>
            <img
              src='https://shuffle.dev/saturn-assets/images/testimonials/avatar-reviews1.png'
              style='vertical-align: middle; width: 3rem; height: 3rem; border-radius: 10000px; overflow: clip'
            />
            <div class='block ml-5 -space-y-1'>
              <div style=' font-weight: 600; margin-bottom: 0.25rem'>
                Jovanca Azalea
              </div>
              <div class='text-gray-400' style='  font-size: 14px'>
                CTO of Coca Soft
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="border-t-2 border-gray-700 justify-between py-10 flex bottom-0 absolute w-full">
      <div>
        <div style="font-size: 34px; font-weight: 500">8k+</div>
        <p style="color: rgba(45, 60, 73, 0.9); font-weight: 300">
          Faster finance<br style="color: rgba(45, 60, 73, 0.9)" />
          transactions
        </p>
      </div>
      <div>
        <div style="font-size: 34px; font-weight: 500">160h</div>
        <p style="color: rgba(45, 60, 73, 0.9); font-weight: 300">Lower expenses <br style="color: rgba(45, 60, 73, 0.9)" />every month</p>
      </div>
      <div>
        <div style="font-size: 34px; font-weight: 500">2m</div>
        <p style="color: rgba(45, 60, 73, 0.9); font-weight: 300">Trusted regular <br style="color: rgba(45, 60, 73, 0.9)" />users network</p>
      </div>
    </div> -->
    </div>
  </div>
</div>
