---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />

  <div style='width: 1706px'>
    <div
      style='bottom: 744px; height: 112px; justify-content: space-between; margin-left: 86px; margin-right: 86px; mix-blend-mode: exclusion; padding-bottom: 26px; padding-top: 26px; position: fixed; width: 1538px; will-change: opacity; z-index: 9999; display: flex'
    >
      <div
        style='align-items: center; height: 60px; justify-content: space-between; width: 1538px; display: flex'
      >
        <a
          href='https://www.devolfs.com/'
          style='color: rgb(51, 51, 51); cursor: pointer; float: left; height: 36px; mix-blend-mode: difference; position: relative; width: 142px; display: flex'
          ><img
            src='https://uploads-ssl.webflow.com/6399db4313c7980ffe940ca2/63ced370c04e2557fc546594_logo.svg'
            style='filter: invert(1); height: 36px; max-width: 100%; overflow-clip-margin: content-box; vertical-align: middle; width: 142px; overflow: clip'
          /></a
        >
        <div
          style='align-items: center; column-gap: 28px; height: 60px; width: 264px; display: flex'
        >
          <a
            href='https://www.devolfs.com/contact'
            style='align-items: center; cursor: pointer; filter: invert(1); font-size: 14px; height: 46px; justify-content: center; line-height: 20px; max-width: 100%; padding-left: 22px; padding-right: 38px; position: relative; text-transform: uppercase; width: 178px; display: flex; border-radius: 3416px; overflow: hidden'
            ><div
              style='height: 46px; padding-bottom: 14px; padding-top: 14px; position: relative; width: 120px'
            >
              Start a Project
            </div>
            <div
              style='background-color: rgb(0, 0, 0); height: 342px; left: -90px; position: absolute; right: -74px; top: 46px; width: 342px; z-index: 0; border-radius: 1708px'
            >
            </div>
            <img
              src='https://uploads-ssl.webflow.com/6399db4313c7980ffe940ca2/639cabdd6171493d0b8b655d_Arrow.svg'
              style='bottom: 18px; height: 12px; left: 152px; max-width: 100%; overflow-clip-margin: content-box; position: absolute; right: 16px; top: 18px; vertical-align: middle; width: 12px; overflow: clip'
            /></a
          >
          <div
            style='align-items: center; cursor: pointer; filter: invert(1); flex-direction: column; height: 60px; justify-content: center; position: relative; width: 60px; display: flex; border-radius: 342px; padding: 6px'
          >
            <div
              style='background-color: rgb(0, 0, 0); height: 2px; position: relative; width: 40px; border-radius: 172px'
            >
            </div>
            <div
              style='background-color: rgb(0, 0, 0); bottom: 30px; height: 2px; left: 10px; position: absolute; right: 10px; top: 30px; width: 40px; border-radius: 172px'
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


 
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>




 