<div class="h-screen"
  style='box-sizing: border-box; font-size: 20px;  line-height: 32px; text-align: justify; width: 1706px; background-color: rgb(255, 255, 255)'
>

  <section
    style='align-items: center; background-color: rgb(200, 208, 214); height: 854px; justify-content: center; padding-bottom: 86px; padding-top: 86px; position: relative; width: 1706px; display: flex; overflow: hidden'
  >
    <div
      style='grid-auto-columns: 1fr; grid-template-columns: 852.552px 682.052px; grid-template-rows: 106px; height: 106px; margin-bottom: 48px; margin-left: 86px; margin-right: 86px; margin-top: 70px; position: absolute; top: 634px; width: 1536px; z-index: 12; display: grid'
    >
      <div
        style='background-color: rgb(180, 190, 198); bottom: 104px; height: 2px; position: absolute; width: 1536px'
      >
      </div>
      <div
        style='column-gap: 86px; grid-column-end: span 1; grid-column-start: span 1; grid-row-end: span 1; grid-row-start: span 1; grid-template-columns: 1fr 1fr; grid-template-rows: auto; height: 106px; justify-content: flex-start; padding-top: 44px; position: relative; width: 854px; display: flex'
      >
        <div
          style='flex-direction: column; height: 62px; width: 124px; display: flex'
        >
          <div style='height: 26px; width: 124px; overflow: hidden'>
            <div style='height: 26px; width: 124px'>
              <p
                style='font-size: 16px; font-weight: 600; height: 26px; line-height: 26px; text-transform: uppercase; width: 124px'
              >
                Design-driven
              </p>
            </div>
          </div>
          <div style='height: 26px; width: 124px; overflow: hidden'>
            <div style='height: 26px; width: 124px'>
              <p
                style='font-size: 16px; height: 26px; line-height: 26px; text-transform: uppercase; width: 124px'
              >
                Agency
              </p>
            </div>
          </div>
        </div>
        <div
          style='flex-direction: column; height: 62px; width: 152px; display: flex'
        >
          <div style='height: 26px; width: 152px; overflow: hidden'>
            <div style='height: 26px; width: 152px'>
              <p
                style='font-size: 16px; font-weight: 600; height: 26px; line-height: 26px; text-transform: uppercase; width: 152px'
              >
                say hi
              </p>
            </div>
          </div>
          <div style='height: 32px; width: 152px; overflow: hidden'>
            <div style='height: 32px; width: 152px'>
              <a
                href='https://www.devolfs.com/mailto:hey@devolfs.com?subject=Hey!'
                style='cursor: pointer; font-size: 16px; line-height: 26px; text-transform: uppercase'
                >hey@devolfs.com</a>
            </div>
          </div>
        </div>
      </div>
      <div
        style='column-gap: 86px; grid-column-end: span 1; grid-column-start: span 1; grid-row-end: span 1; grid-row-start: span 1; grid-template-columns: 1fr 1fr; grid-template-rows: auto; height: 106px; justify-content: flex-start; padding-top: 44px; position: relative; width: 684px; display: flex'
      >
        <div
          style='background-color: rgb(0, 0, 0); bottom: 104px; height: 2px; position: absolute; width: 684px'
        >
        </div>
        <div
          style='flex-direction: column; height: 62px; width: 684px; display: flex'
        >
          <div style='height: 62px; width: 684px; overflow: hidden'>
            <p style='height: 62px; text-align: left; width: 684px'>
              Nous visons à amélioration de votre présence en ligne en fournissant
              des stratégies numériques originales en Design, Développement et Marketing.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      style='height: 372px; padding-left: 86px; padding-right: 86px; width: 1706px'
    >
      <div
        style='align-items: center; column-gap: 172px; grid-auto-columns: 1fr; grid-template-columns: 944.219px 419.656px; grid-template-rows: 328px; height: 328px; margin-top: 44px; position: relative; width: 1536px; display: grid'
      >
        <div
          style='grid-column-end: span 1; grid-column-start: span 1; grid-row-end: span 1; grid-row-start: span 1; height: 328px; position: relative; width: 946px'
        >
          <div style='height: 328px; width: 946px'>
            <div style='height: 110px; width: 946px; overflow: hidden'>
              <h1
                style='font-size: 104px; font-weight: 500; height: 110px; letter-spacing: -5px; line-height: 94px; padding-bottom: 18px; width: 946px'
              >
                Libérez le <span style='color: rgb(255, 255, 255)'
                  >potentiel</span>
              </h1>
            </div>
            <div style='height: 110px; width: 946px; overflow: hidden'>
              <h1
                style='font-size: 104px; font-weight: 500; height: 110px; letter-spacing: -5px; line-height: 94px; padding-bottom: 18px; width: 946px'
              >
              illimité de votre 
              </h1>
            </div>
            <div style='height: 110px; width: 946px; overflow: hidden'>
              <h1
                style='font-size: 104px; font-weight: 500; height: 110px; letter-spacing: -5px; line-height: 94px; padding-bottom: 18px; width: 946px'
              >
                <span style='color: rgb(255, 255, 255)'>Business</span> 
              </h1>
            </div>
          </div>
          <a
            href='https://www.devolfs.com/contact'
            style='align-items: center; background-color: rgb(0, 0, 0); bottom: -22px; color: rgb(0, 0, 238); cursor: pointer; height: 192px; justify-content: center; left: 698px; max-width: 100%; position: absolute; right: 58px; text-decoration-line: underline; top: 160px; width: 192px; z-index: 55; display: flex; border-radius: 1708px; padding: 18px'
            ><img
              src='https://uploads-ssl.webflow.com/6399db4313c7980ffe940ca2/63a5a6596c31f27bee2308d1_Rotate.svg'
              style='filter: invert(0); height: 158px; max-width: 100%; opacity: 0.7; overflow-clip-margin: content-box; vertical-align: middle; width: 158px; will-change: transform; overflow: clip'
            /><img
              src='https://uploads-ssl.webflow.com/6399db4313c7980ffe940ca2/63a1ab65096251333785cbfa_Arrow%20Light.svg'
              style='bottom: 78px; filter: invert(0); height: 38px; left: 80px; max-width: 100%; opacity: 0.7; overflow-clip-margin: content-box; position: absolute; right: 80px; top: 78px; vertical-align: middle; width: 36px; overflow: clip'
            /></a
          >
        </div>
      </div>
      <div
        style='align-items: center; bottom: 70px; height: 854px; left: 598px; position: absolute; right: -152px; top: -68px; width: 1262px; will-change: transform; z-index: 2; display: flex'
      >
        <div style='height: 854px; position: relative; width: 1262px'>
          <video
            style='height: 854px; object-fit: contain; overflow-clip-margin: content-box; width: 1262px; display: inline-block; overflow: clip'
          >
            <source
              src='https://user-images.githubusercontent.com/123962108/215859025-b4456d79-8b87-4ec0-927a-e291f72b6613.mov'
              type='video/mp4; codecs="hvc1"'
            />
            <source
              src='https://user-images.githubusercontent.com/123962108/215831914-bafd3a37-b95a-4308-a940-cac4c981c48c.webm'
              type='video/webm'
            />
          </video>
        </div>
      </div>
    </div>
  </section>
 
 
</div>
